.detailproductContain {
    margin-top: 25px;
    width: 100%;
}

.title {
    text-align: center;
}

.detailproductForm {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.formLabelName {
    margin-top: 25px;
}

.detailproductContainBox {
    margin-top: 25px;
    width: 100%;
    height: 360px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 20px;
    margin-bottom: 25px;
    overflow-y: auto;
    max-height: 360px;
}

.detailproductProductDetails {
    flex: 1;
}

.detailproductSalePrice {
    color: red;
    font-weight: bold;
}

.detailproductOldPrice {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}

.detailproductProductItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

.detailproductProductItem img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.detailproductInput input {
    width: 85%;
    height: 50px;
    border-color: rgb(207, 207, 207);
}

.btnBtn {
    background: #218282;
    border: none;
    color: white;
    cursor: pointer;
}

.btnBtn:hover {
    background: white;
    border: 1px solid #218282;
    color: #218282;
    cursor: pointer;
}

.titleProduct {
    margin-bottom: 15px;
}

.detailproductPrice {
    margin: 20px 0;
}

.detailproductPrice p {
    margin-bottom: 10px;
}


.custom-spinner {
    width: 3rem;
    height: 3rem;
    border-width: 0.4em;
  }


