version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: doan4
    volumes:
      - mysql_data:/var/lib/mysql
      - ./doan4.sql:/docker-entrypoint-initdb.d/doan4.sql
    networks:
      - mynetwork

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - mynetwork

  backend:
    build:
      context: ./NodeJS
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./NodeJS/.env
    depends_on:
      - mysql
      - redis
    networks:
      - mynetwork

  frontend:
    build:
      context: ./reactjs
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  mysql_data:
