.listdetails-container {
    padding: none;
}

.listdetails-table th,
.listdetails-table td {
    text-align: center;
    vertical-align: middle;
}

.listdetails-table thead tr th {
    background-color: #218282;
    color: white;
}

.listdetails-table tbody tr td {
    color: #218282;
}

.action-btns .btn {
    margin: 2px;
}

.listdetails-title {
    color: #218282;
}

.listdetails-filter {
    background-color: #218282;
    color: white;
}

.listdetails-option {
    background-color: #218282;
    color: white !important;
}

.listdetails-option a {
    color: white !important;
}
.listdetails-option a:hover { 
    opacity: 0.1;
    background: none;
}
.listdetails-searchinput {
    color: #218282;
}

.listdetails-searchinput::placeholder {
    color: #218282;
}

.listdetails-pagination .page-link {
    background-color: #218282;
    color: white;
    border: none;
}

.listdetails-pagination .page-link:hover {
    background-color: white;
    color: #218282;
}

.listdetails-pagination .active .page-link {
    background-color: #218282;
    color: white;
}

.listdetails-pagination .disabled .page-link {
    background-color: #ddd;
    color: #bbb;
}

.listdetails-pagination .page-link {
    border-radius: 0 !important;
}
