.liststore-title{
    color: #218282;  /* Màu nền xanh lá */
}
#map {
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #218282;  /* Màu nền xanh lá */
    color: white;  /* Màu chữ trắng */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 250px;
    font-size: 14px;
    z-index: 1000;
}

.popup strong {
    font-size: 16px;
    font-weight: bold;
}

.popup br {
    margin-bottom: 5px;
}
