/* src/css/footer.module.css */
.footerBg {
    background-color: #218282;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: #ffe16a !important;
  }
  