.slider-main {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider-wrapper {
    display: flex;
    transition: transform 1s ease;
  }
  
  .slider-item {
    width: 100%;
    max-height: 200px;
    flex-shrink: 0;
    position: relative;
  }
  
  .slider-item img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  .slider-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .slider-main:hover .slider-btn {
    opacity: 1;
    visibility: visible;
  }
  
  .slider-btn-prev {
    left: 10px;
  }
  
  .slider-btn-next {
    right: 10px;
  }
  
  .slider-small-banner-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .slider-small-banner {
    flex: 1;
    position: relative;
    cursor: pointer;
  }
  
  .slider-small-banner img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .slider-small-banner a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  